<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/alertfull.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>Welcome to IIT Indore Campus Security Website</title>
    <script src="https://maps.mapmyindia.com/covid-places/showNearbyCovidPlacesOnMap.js"></script>

</head>

<body>
    {{>navbar}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">ALERT & NOTICES</p>
                <p class="text-small">"From new resources available to alerts and events happening on campus, we want to
                    keep you informed."</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png"
                    alt="Security Image">
            </div>
        </div>
    </section>

    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big" style="text-decoration:underline; text-decoration-color:yellow;">READ WHAT'S
                HAPPENING IN CAMPUS↓</p>
            <p class="paras text-small" style="color:crimson; text-align: center;">Vaccination centres Map :</p>
        </div>
    </section>
    <section >
        <div id="nearby-covid-places-mapmyindia"></div>
        <script type="text/javascript">
            loadNearbyCovidCentresMapmyIndiaDiv(document.getElementById("nearby-covid-places-mapmyindia"));
        </script>
    </section>
    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">SCORPIONS AND SNAKES ARE BEING SPOTTED </p>
            <p class="sectionSubTag text-small">(07/07/2022)</p>
            <p class="sectionSubTag text-small">Kindly avoid walking in campus areas in slippers as the rainy season is
                already started and many creatures like snakes and scorpions are being spotted
                on the roads and other areas.

                Further please do not use the stairs/corridors where construction activities are in progress for your
                safety. </p>
        </div>
    </section>

    <section class="section section-left" id="about">
        <div class="paras">
            <p class="sectionTag text-big">COVID 19 CASES INCREASING INSIDE THE CAMPUS</p>
            <p class="sectionSubTag text-small">(02/07/2022)</p>
            <p class="sectionSubTag text-small">Last week the campus reported 4 COVID cases. This week 3 tested positive
                and 3 are suspected. A large number of students, staff, and faculty are suffering from high-grade fever.
                Although the cases continue to be mild, it is important that COVID-appropriate behavior
                Please wear masks indoors, and sanitize your hands frequently.
                Report immediately to the health center in case if you are suffering from fever
                Avoid large gatherings.</p>
        </div>
        <div class="thumbnail">
            <img src="https://cdn2.hubspot.net/hubfs/208757/Blog_Images/shutterstock_546112402.jpg#keepProtocol"
                alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section class="section" id="services">
        <div class="paras">
            <p class="sectionTag text-big">SAFETY ADVISORY ON WILDLIFE MOVEMENT ON CAMPUS </p>
            <p class="sectionSubTag text-small">(27/06/2022)</p>
            <p class="sectionSubTag text-small">The areas marked in red zone are being designated as OUT OF BOUNDS for
                everyone on the campus. Please avoid walking in the areas
                marked in Yellow zone to late evening hours and in early morning hours. Walking in the dark areas may be
                avoided due to safety reasons. Other advisories
                like keeping kids under strict supervision even inside the buildings and keeping the entry doors closed
                of residential buildings, Health centers,
                Vindhyachal Guest House, and Central Dining facilities may also be adhered to. </p>
        </div>
        <div class="thumbnail">
            <img src="https://thumbs.dreamstime.com/b/attention-sign-shows-warning-be-alert-notice-showing-40234074.jpg"
                alt="laptop image" class="imgFluid">
        </div>
    </section>


    <section class="section section-left" id="about">
        <div class="paras">
            <p class="sectionTag text-big">ANTI RAGGING AND ANTI HARASSMENT</p>
            <p class="sectionSubTag text-small">(03/06/2022)</p>
            <p class="sectionSubTag text-small">Though interacting with seniors is an important part of a student’s life
                at IIT Indore, it must also be made sure that these seniors don’t
                misuse their power and get involved in ragging or other similar activities. Misusing discretion to
                intentionally cause discomfort to their fellow
                students is unacceptable and calls for serious action.


                To prevent the occurrence of such incidents, we are circulating some forms on email for the redressal of
                complaints regarding any kind of misdemeanor.
                These forms are anonymous and protects your identity, so please feel free to put forward any issues you
                are facing. </p>
        </div>
        <div class="thumbnail">
            <img src="https://thumbs.dreamstime.com/z/attention-important-information-message-banner-caution-alert-notice-announcement-warning-concept-megaphone-hand-vector-187840301.jpg"
                alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src="js/resp.js"></script> -->

</body>

</html