<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/committee dep.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>Welcome to IIT Indore Campus Security Website</title>
</head>

<body>
    {{>navbar}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf"><br>
                <p class="text-big">COMMITTEES</p>
                <p class="text-small">"The purpose of the Committee is to establish, review, and monitor formal policies and procedures and have oversight of 
				performance in connection with the safety and 
				security of IIT Indore"</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png" alt="Security Image">
            </div>
        </div>
    </section>
    
    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>
    
    
	<section>	
	<section>	
	 <br> <br> <br>
	  <div class="thumbnail" style ="width:25% ; float :left; text-align:center;height:1400px"><br> <br><br> 
            <img  style ="height:220px;width:220px" src="https://s.yimg.com/aah/alertshirt/safety-committee-13.gif"></br>
			   <img  style ="height:220px;width:220px"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkgTcjd5_weZ26s-Ye-cUXfGTUixU2IadyyA&usqp=CAU" alt="laptop image" class="imgFluid"></br>
			    <img  style ="height:220px;width:220px"  src="https://filmfestivalalliance.org/wp-content/uploads/2016/02/committee-graphic.jpg" alt="laptop image" class="imgFluid"></br>
			     
 
	   </div> 
	   </section>
	  
	 
	 
	 
	 
	 
	 
	 
	 

  <section>
  <div style="float:left;width:50%;text-align:center;height:1400px">
    
    <center><h2 style="color:blue;text-decoration:underline;">Safety and Security Committees of the Institute</h2></center>
        <h3 class="sectionSubTag text-small" style="text-indent:500px;"></br>
Department of Astronomy, Astrophysics and Space Engineering (DAASE)
Dr. Siddharth Malu (Convener)
Dr. Saurabh Das (Member)
Dr. Manoneeta Chakraborty (Member)</br></br>



Department of Biosciences and Biomedical Engineering (BSBE)
Dr. Hem Chandra Jha (Convener)
Dr. Kiran Bala (Member)
Dr. Prashant Kodgire (Member)
Head BSBE (Ex Officio Member)</br></br>

Department of Civil Engineering (CE)
Dr. Mohd. Farooq Azam (Convener)
Mr. Pranjal Srimali, Technical Staff Member (Member)
Mr. Gyanesh Patnaik, Student Representative</br></br>


Department of Computer Science Engineering (CSE)
Dr. Bodhisatwa Mazumdar(Convener)
Dr. Abhishek Srivastava (Member)
Dr. Puneet Gupta (Member)</br></br>


Department of Electrical Engineering (EE)
Dr. Swaminathan R (Convener)
Dr. Saptarshi Ghosh (Member)
Dr. Abhinoy K. singh(Member)</br></br>


Department of Mechanical Engineering (ME)
Dr. Girish Verma ( Convenor)
Dr. Ashish Rajak (Member)
Dr. S. Dhinakaran (Member)
Mr. Sandeep Gaur (Member)
Mr. Ashwin Wagh (Member)</br></br>


Department of Metallurgy Engineering and Materials Science (MEMS)
Dr. Ajay Kumar Kushwaha (Convener)
Dr. D.K. Rai (Member)
Dr. D.A. Basha (Member)</br></br>


Department of Chemistry
Dr. Chelvam Venkatesh (Convener)
Dr. Suman Mukhopadhyay (Member)
Head Chemistry (Ex Officio Member)
Department of Mathematics
Dr. Vinay Gupta (Convener)
Mr.Jitendra Verma (Staff Member)
Mr Sudipta Sarkar (Student Member)</br></br>


Department of Physics
Dr. Somaditya Sen (Convener)
Prof. Krushna mavani (Member)
Dr. D. Das (Member)
Dr. Alestin Mawrie(Member)</br></br>


School of Humanities and Social Sciences (HSS)
Dr. Kalandi Charan Pradhan (Convener)
Dr. Sanchita Verma (member)
Ashok Mocherla (member)</br></br>

Central Workshop
Dr. Jayaprakash Murugesan (Convener)
Mr.Suresh Bhagore (Member)
Mr.Rishiraj Chouhan (Member)</br></br>


Sophisticated Instrumentation Center
Dr. Sampak Samanta (Convener)
Dr. Radhe Shyam Ji (Member)
Mr. Ghanshyam Bhavsar (Member)
Mr. Kinny Pandey (Member)

</h3>
        </div>
		
		</section>
		
		<section>
         <div class="thumbnail"  style ="width:25% ; float :left; text-align:center;height:1400px">
       <br><br><br> <h2><u>Quick Links</u></h2><br><br>
			 <a href="http://safety.iiti.ac.in/images/demo/emergency2.png"   >
			 <img style="height:100px;width:200px" style="height:150px"src="https://d2u4q3iydaupsp.cloudfront.net/PQR7PhUDGL9ENn8J2jekn7AsFkEICd236MpjfMZ7nyBnQlMUSFclbcmgmB7707C8dsqZpSxUgL0cu5CfYlDlZIAiBkopGcGPSqSHgmj4mdmyVs7EDlQJ9Xmwj8UnoZxh" alt="laptop image" class="imgFluid"></a></br>
			     <a href="http://safety.iiti.ac.in/documents/emergency.pdf"  >  <img style="height:100px;width:200px" src="https://www.talentpathway.com/wp-content/uploads/2018/03/contact-us-icon-1024x496.jpg"></a></br>
		<a  href="http://safety.iiti.ac.in/documents/Guidelines_Safety%20and%20Security.pdf">	  
		<img style="height:100px;width:200px" src="https://cdn.pixabay.com/photo/2016/03/11/08/02/usa-1249880_960_720.jpg" alt="laptop image" class="imgFluid"></a>
		</br>
 
	   </div> <hr>
	  

    </section>
	
	
  </section>
    
	
  <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src="js/resp.js"></script> -->

</body>

</html>