<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact us.css">
    <title>Contact Us - Campus Security</title>
</head>

<body>
    {{>navbar}}
    
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the 
                    safety and security of students, faculty, staff and visitors.
                     We respond to safety and security concerns, provide first 
                     aid and facilities management, and aid emergency services on 
                     campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png" alt="Security Image">
            </div>
        </div>
    </section>
    
    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>
    <!-- ----------------------------------------------------------------------------------------- -->
    
    <section class="section" id="about">
        <div class="paras">
        <p class="sectionTag text-big3">Contact Us</p>
        <p class="sectionSubTag text-small">Campus Security is available to assist the campus community with first aid, safety & security concerns, and more — 24 hours a day, 7 days a week. Our officers patrol the campus on foot, bicycle and visibly marked security vehicles and respond to calls for assistance with any situation that is concerning or suspicious.</p>
        </div>
    </section>
    
    <section class="section" id="services">
        <div class="paras">
        <p class="sectionTag text-big3">Contact Details</p>
        <p class="sectionSubTag2 text-small">
            Emergency Control Room:-
            0731 660 3117, 9589518290(M)</p>
            
        <p class="sectionSubTag2 text-small">            
            Quick Response Team:-
            9589518299(M)</p>
            
        <p class="sectionSubTag2 text-small">    
            On Duty Security Supervisor:-
            6265224771(M)</p>
            
            
        <p class="sectionSubTag2 text-small">    
            Security Help Desks:-
            Gate No 1: 0731 660 3470, 
            Gate No 2: 0731 660 3525 </p>
        </div>
    </section>
    
    <section>
        <div class="info">
            <p class="info-name">
                Address
            </p>
            <p class="info-details">
                Indian Institute of Technology Indore
                <br>Khandwa Road Simrol
                <br>Indore 453552
                <br>India
                <br>Contact: +91-9589518299
            </p>
        </div>
    </section>

    <section class="contact" id="contact">
        <h1 class="text-center">E-mail Us</h1>
        <form class="form" action="https://formsubmit.co/3bf855d9a4c5ebe714890bf7772b6c9a" method="POST">
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your name" required>
            <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter Your Phone number">
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your email" required>
            <input class="form-input" type="text" name="subject" id="subject" placeholder="Subject" required>
            <input type="hidden" name="_captcha" value="false">
             <textarea class="form-input" name="message" id="text" cols="30" rows="10" placeholder="Ellaborate your concern" required></textarea>
            <button class="btn btn-sm btn-dark" type="submit" >Submit</button>
        </form>
        <p class="sectionSubTag2 text-small">
            Security Help Desk:   securityhelpdesk@iiti.ac.in<p>
            
                <p class="sectionSubTag2 text-small">Chief Security Officer (CSO):   cso@iiti.ac.in</p>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
</body>

</html>