<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>Welcome to IIT Indore Campus Security Website</title>
    <link rel="stylesheet" href="css/strange.css">  
    <style>
        .maincaut{
            color: rgb(245, 13, 13);  
             font-weight: 800;  
             
        }
    </style>
</head>    

<body>
    {{>navbar}}
    
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the 
                    safety and security of students, faculty, staff and visitors.
                     We respond to safety and security concerns, provide first 
                     aid and facilities management, and aid emergency services on 
                     campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png" alt="Security Image">
            </div>
        </div>
    </section>
    
    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>
    
    <section class="section">    
        <div class="paras">
        <p class="sectionTag text-big">Campus: Do’s & Don’t</p>
        <hr>   
        <br>  

        <p class="sectionSubTag text-small"><ul>

            <li>Calm and quite stay at the hostel, mess dining halls and classrooms.</li>
            <br>  
            <li>Going to other hostels is prohibited, friends may be met in the common areas. However in case someone
                 needs to go to other hostel, he will show up his id card and make an entry in the register kept with
                  security desk of that hostel.</li>
                  <br>
            <li>Safety regulations are required to be observed while at labs.</li>
            <br>
            <li>Avoid unnecessary interference with other public (persons not concerned with IIT Indore).</li>
            <br>
            <li>We expect Exemplary moral conduct from our students.</li>
            <br>
            <li>Please maintain a habit of good dress up especially at dining hall.</li>
            <br>    
            <li>Please do not crowd in individual units.</li>
            <br>
            <li>Going to Forest area and unauthorised openings on approach roads is out of bounds. 
                Using short cuts are not allowed through grassy and forest areas.</li>
            <br>
                <li>Smoking, consumption of liquor, storage, handling/disposal of toxic, inflammable, hazardous,
                 dangerous material is strictly prohibited. In case found strict action would be taken against 
                 the individual found doing so.</li>
            <br>
                 <li>Fire Fighting equipment are installed in the units and common areas, usage should be done only 
                on emergency. Please notify security helpdesk after usage if any.</li>
            <br>
                <li>Hostlers are not allowed to drive powered vehicles.</li>
            <br>
                <li>Wearing of Helmets is must for all two wheeler drivers.</li>
            <br>
                <li>Driving two wheelers with more than two persons is not permitted. Helmet is necessary 
                for the pillion rider also.</li>
            
        


  
              

        </ul>
        <br>
        <br>  
        <p class="maincaut">#CAUTION: Tempering of any safety/security signage and instruments may attract extreme penalty and punishment.</p>
            </p>
        </div>
        <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSicUU8cds_ddH1cyLuZxErFrPA2SostgwxcA&usqp=CAU">
        </div>
    </section>    
      
    <!-- <section class="section section-left" id="about"> -->
        <!-- <div class="paras"> -->
        <!-- <p class="sectionTag text-big">Working Restlessly For You</p> -->
        <!-- <p class="sectionSubTag text-small">IIT Indore security department personnel conduct patrols of the campus and residence areas 24 hours a day. IIT Indore security department enforce all regulations and laws -- both of the IIT and the Country. They also work cooperatively with the Indore Police Department to record incidents that may occur off campus.</p> -->
        <!-- </div> -->
        <!-- <div class="thumbnail"> -->
            <!-- <img src="http://safety.iiti.ac.in/images/demo/slider/7.jpg" alt="laptop image" class="imgFluid"> -->
        <!-- </div>  -->
    <!-- </section> -->
    <!--  -->
    <!-- <section class="section" id="services"> -->
        <!-- <div class="paras"> -->
        <!-- <p class="sectionTag text-big">Security Under Control</p> -->
        <!-- <p class="sectionSubTag text-small">IIT Indore security department strictly enforce laws regulating underage drinking. The use of controlled substances, weapons and alcoholic beverages are not permitted on campus. Illegal drugs are not permitted on campus. Our Drug-Free Campus Policy requires all employees and students to adhere to the IITs’ standards of conduct related to drugs and alcohol and the applicable legal sanctions under State or Central law. </p> -->
        <!-- </div> -->
        <!-- <div class="thumbnail"> -->
            <!-- <img src="http://safety.iiti.ac.in/images/demo/slider/9.jpg" alt="laptop image" class="imgFluid"> -->
        <!-- </div> -->
    <!-- </section> -->
    
    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright © 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src="js/resp.js"></script> -->



</body></html>