<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Welcome to IIT Indore Campus Security Website</title>
</head>

<body>
    {{>navbar}}

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the
                    safety and security of students, faculty, staff and visitors.
                    We respond to safety and security concerns, provide first
                    aid and facilities management, and aid emergency services on
                    campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png"
                    alt="Security Image">
            </div>
        </div>
    </section>

    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>
<section class="section">
        <div class="paras">
            <p class="links">I Want To :</p>
                
                <a class="links" href="protect1">Protect myself</a>
                
        </div>
        <div class="paras">
            <p class="links">I Want To :</p>
                
                <a class="links" href="https://www.youtube.com/channel/UC4Z80LALh0AoyUw2ScTf5yA">Ask the Security Guy</a>
                
        </div>
    </section>
    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Safety Is First And Must For All</p>
            <p class="sectionSubTag text-small">All parents have concerns about the safety of their daughter or son when
                they are far from home. At IIT Indore, we understand that concern and accept our responsibility to
                enforce security policies to ensure our students enjoy their stay at Indore as free as possible from
                threats to their safety or well-being. Campus safety and security are coordinated by the Department of
                Safety and Security.</p>
        </div>
        <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/5.jpg" alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section class="section section-left" id="about">
        <div class="paras">
            <p class="sectionTag text-big">Working Restlessly For You</p>
            <p class="sectionSubTag text-small">IIT Indore security department personnel conduct patrols of the campus
                and residence areas 24 hours a day. IIT Indore security department enforce all regulations and laws --
                both of the IIT and the Country. They also work cooperatively with the Indore Police Department to
                record incidents that may occur off campus.</p>
        </div>
        <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/7.jpg" alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section class="section" id="services">
        <div class="paras">
            <p class="sectionTag text-big">Security Under Control</p>
            <p class="sectionSubTag text-small">IIT Indore security department strictly enforce laws regulating underage
                drinking. The use of controlled substances, weapons and alcoholic beverages are not permitted on campus.
                Illegal drugs are not permitted on campus. Our Drug-Free Campus Policy requires all employees and
                students to adhere to the IITs’ standards of conduct related to drugs and alcohol and the applicable
                legal sanctions under State or Central law. </p>
        </div>
        <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/9.jpg" alt="laptop image" class="imgFluid">
        </div>
    </section>

    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>

</body>

</html>