<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/protect.css">
    <title>Welcome to IIT Indore Campus Security Website</title>
</head>

<body>
    {{>navbar}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="text-big">I want to protect myself from phishing.</p>
            <ul class="text-small">
                <li>
                    <div class="bold">Don't Click</div>
                    <div>Instead of clicking on any link in a suspicious email, type in the URL, or do a search on the
                        apu.edu website for the relevant department or page. Even though a website and/or URL in the
                        email looks lreal, criminals can mask its true destination.</div>
                </li>
                <li>
                    <div class="bold">Keep your information private</div>
                    <div>NEVER give out your passwords, credit card information, social security number, or other
                        private information through email.</div>
                </li>
                <li>
                    <div class="bold">Pick up the phone</div>
                    <div>If you have any reason to think that a department or organization really needs to hear from
                        you, call them to verify any request for personal or sensitive information or requesting you
                        purchase gift cards for them. Emails that say "urgent!", use pressure tactics or prey on fear
                        are especially suspect.</div>
                </li>
                <li>
                    <div class="bold">Use secure websites</div>
                    <div>Always check if you are on a secure website before giving out private information. You can
                        determine whether a website is secure by looking for the "https://" rather than just "http:" in
                        the Web address bar or for the small lock icon in the internet browser.</div>
                </li>
                <li>
                    <div class="bold">Pay attention to security prompts</div>
                
                
                    <div>If your browser cannot validate the authenticity of the website's security certificate, you
                        will be prompted. This is frequently a telltale sign of fraud, and it would be a good time to
                        pick up the phone or report a suspicious message.</div>
                </li>
                <li>
                    <div class="bold">Keep track of your data</div>
                
                    <div>log onto your online accounts and make sure that all your transactions are legitimate.</div></li>
                <li>
                    <div class="bold">Review your account statements.</div>
                </li>
                <li>
                    <div class="bold">Reset any account passwords that may have been compromised.</div>
                </li>
            </ul>
            </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="text-big">I want to protect myself from viruses.</p>
            <ul class="text-small">
                <li>
                    <div class="bold">Don't Click</div>
                    <div>Instead of clicking on any link in a suspicious email, type in the URL, or do a search on the
                        apu.edu website for the relevant department or page. Even though a website and/or URL in the
                        email looks lreal, criminals can mask its true destination.</div>
                </li>
                <li>
                    <div class="bold">Use entrusted Wi-Fi</div>
                    <div>When at the local Starbucks, bowling alley or the airport, you'll often see many available
                        networks in the area. Be cautious of public wi-fi. Even when accessing a coffeehouse network
                        with a posted password, the hackers drink coffee too. Enter sensitive information like social
                        security numbers or credit card numbers on these networks is strongly discourage. Hackers can
                        also create fake networks with deceiving names to mimic the location. Validating the network
                        with the staff or through the business's website is important.</div>
                </li>
            </ul>
            </div>
    </section>

<section class="section">
        <div class="paras">
            <p class="text-big">I want to protect myself while travelling.</p>
            <ul class="text-small">
                <li>
                    <div class="bold">Always be aware of your surroundings.</div>
                </li>
                <li>
                    <div class="bold">Use VPN for secure connections to APU.</div>
                </li>
                <li>
                    <div class="bold">Only take systems you will need while traveling.</div>
                </li>
                <li>
                    <div class="bold">Back up systems and information prior to travel.</div>
                </li>
                <li>
                    <div class="bold">Do not leave system unattended during travel. </div>
                </li>
            </ul>
        </div>
    </section>


    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>

</body>

</html>