<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>Welcome to IIT Indore Campus Security Website</title>
    <link rel="stylesheet" href="css/strange.css">

    <style>
        .maincaut {
            color: rgb(245, 13, 13);
            font-weight: 800;


            text-align: justify;
        }

        .glitch {

            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>

<body>
    {{>navbar}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the
                    safety and security of students, faculty, staff and visitors.
                    We respond to safety and security concerns, provide first
                    aid and facilities management, and aid emergency services on
                    campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png"
                    alt="Security Image">
            </div>
        </div>
    </section>

    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Fire Safety Trainings</p>
            <hr>
            <br>
            <p class="sectionSubTag text-small">First Aid Fire Fighting equipment like Fire Extinguishers have been
                installed in the hostel units/offices and other important places. Please notify after usage if any.

                <br>
                Evacuation signage, Smoke detectors, Fire alarm system have also been placed.
                <br>
                <br>
                We conduct regular training program for Security personnel as well as staff and students for necessary
                update.

                <br>

                <br>

            <p class="maincaut">
                #CAUTION: Tempering of any safety/security signage and instruments may attract extreme penalty and
                punishment.


            </p>

            </p>
        </div>
        <!-- <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/5.jpg" alt="laptop image" class="imgFluid">
        </div> -->
    </section>






    <section class="section section-left" id="about">
        <div class="paras">
            <p class="sectionTag text-big">Fire Fighting Training Videos</p>
            <hr>
            <br>
            <p class="sectionSubTag text-small">
                Following videos are related to fire safety training in which some videos are
                shot during the drill in the campus of IITI itself to give the practical training to all the community
                members.

            </p>

        </div>
    </section>  

    <!-- <iframe  class="glitch"   width="545" height="320"     
     src="https://www.youtube.com/embed/tgbNymZ7vqY" title="Bohemian Rhapsody | Muppet Music Video | 
     The Muppets" frameborder="45" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
     gyroscope; picture-in-picture" allowfullscreen>
      
    </iframe>     
    <br>
    <br>  
        -->
    <br>
    <br>
    <iframe class="glitch" width="545" height="320" src="https://www.youtube.com/embed/CjVLDWsSqpw" title="fire traning"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen></iframe>

    <br>
    <br>
    <iframe class="glitch" width="545" height="320" src="https://www.youtube.com/embed/ubsL5_7Ak84" title="Fire training Prractical 
    Demonstration" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <iframe class="glitch" width="545" height="320" src="https://www.youtube.com/embed/stpJpF9TcYo"
        title="fire pump demo" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>
    <br>
    <iframe class="glitch" width="545" height="320" src="https://www.youtube.com/embed/2f5KsttnUEI"
        title="First Aid Training Video" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>
    <br>

    <!-- <section class="section" id="services">  
        <div class="paras">
        <p class="sectionTag text-big">Security Under Control</p>
        <p class="sectionSubTag text-small">IIT Indore security department strictly enforce laws regulating underage drinking. The use of controlled substances, weapons and alcoholic beverages are not permitted on campus. Illegal drugs are not permitted on campus. Our Drug-Free Campus Policy requires all employees and students to adhere to the IITs’ standards of conduct related to drugs and alcohol and the applicable legal sanctions under State or Central law. </p>
        </div> -->
    <!-- <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/9.jpg" alt="laptop image" class="imgFluid">
        </div> -->
    </section>

    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright © 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src="js/resp.js"></script> -->



</body>

</html>