<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Welcome to IIT Indore Campus Security Website</title>
</head>

<body>
    {{>navbar}}

    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the
                    safety and security of students, faculty, staff and visitors.
                    We respond to safety and security concerns, provide first
                    aid and facilities management, and aid emergency services on
                    campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png"
                    alt="Security Image">
            </div>
        </div>
    </section>

    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>

    <!-- <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Safety Is First And Must For All</p>
            <p class="sectionSubTag text-small">All parents have concerns about the safety of their daughter or son when
                they are far from home. At IIT Indore, we understand that concern and accept our responsibility to
                enforce security policies to ensure our students enjoy their stay at Indore as free as possible from
                threats to their safety or well-being. Campus safety and security are coordinated by the Department of
                Safety and Security.</p>
        </div>
        <div class="thumbnail">
            <img src="http://safety.iiti.ac.in/images/demo/slider/5.jpg" alt="laptop image" class="imgFluid">
        </div>
    </section> -->

    <section class="section section-left" id="about">
        <div class="paras">
            <p class="sectionTag text-big">Security Operations</p>
            <p class="sectionSubTag text-small">
                The Institute Safety & Security Department is functional at the Institute headed by Chief Security Officer with One Lab Safety Officer and assisted by one Jr. Assistant & trained security personnel.
<ul>
<li>Providing 24x7 security and safety to all the four campus of the Institute
    <li>Trained Security personnel including lady guards are deployed in a day</li>
        <li>Equipped with Quick Reaction Team with a four wheeler for effective patrolling and immediate reaching any point within the Institute for any emergency sitution .</li>
            <li>CCTV Camera surveillance: Points of importance have been provided with 24x7 CCTV camera coverage for surveillance.</li>
</ul>
            </p>
        </div>
    </section>

    <section class="section" id="services">
        <div class="paras">
            <p class="sectionTag text-big">Mission</p>
            <p class="sectionSubTag text-small">
                <ul>
                <li>To ensure and enforce safe environment for the students and staff at the institute.</li>
<li>To safeguard the staff, students and property of the Institute against various threats.</li>
</ul>
            </p>
        </div>
    </section>

    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src=""></script> -->

</body>

</html>