<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in | safety.iiti.ac.in</title>
    <link rel="stylesheet" type="text/css" href="css/signin.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/signin" method="POST">
<div class="form">
    <div class="top">
        <img src="https://upload.wikimedia.org/wikipedia/en/c/c4/Indian_Institute_of_Technology%2C_Indore_Logo.png" alt="IIT INDORE" class="logo">
        <div>Indian Institute of Technology Indore</div>
    </div>
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your own account!</div>
    <div class="input-container ic1">
        <input name="username" id="username" class="input" type="text" placeholder="Username" class="placeholder"/>
    </div>
    <div class="input-container ic2">
        <input name="email" id="email" class="input" type="email" placeholder="Email" />
        </div>
        <div class="input-container ic2">
            <input name="password" id="password" class="input" type="password" placeholder="Password" />
            </div>
    <button type="submit" class="submit" value="Signin">submit</button>
    </form>
</div>
</body>
</html>