<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <title>Welcome to IIT Indore Campus Security Website</title>

    <link rel="stylesheet" href="css/strange.css">
</head>

<body>
{{>navbar}}
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">CAMPUS SECURITY</p>
                <p class="text-small">Campus Security is committed to ensuring the
                    safety and security of students, faculty, staff and visitors.
                    We respond to safety and security concerns, provide first
                    aid and facilities management, and aid emergency services on
                    campus.</p>
            </div>

            <div class="secondHalf">
                <img src="https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png"
                    alt="Security Image">
            </div>
        </div>
    </section>

    <section class="background firstSection">
        <div class="box-main">
            <div class="full">
                <p class="text-big2">CAUTION</p>
                <p class="text-small2">Please take appropriate self protection and care during the time of COVID-19.
                    Please ensure Physical Distancing, use face mask and wash your hands frequently.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <p class="sectionTag text-big">Web Developement</p>

            <!-- <br> -->
            <hr>
            <br>

            <p class="sectionSubTag text-small">This website is developed by the students of B.Tech 2nd year
                Ayushmaan Jaiswal,Ochitya Kumawat ,Jeetesh Patel and Dhananjay Singh under the IITISoc'22 Project.
   

                <br>
            </p>

        </div>

    </section>



    <section>
        <div class="info">
            <p class="info-name">
                Chief Security Officer
            </p>
            <p class="info-details">
                Mr.Ramakant Kaushik<br>
                :+91 731 660 3570
            </p>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright © 2022 - Safety and Security Department IIT Indore 2022. - All rights reserved
        </p>
    </footer>
    <!-- <script src="js/resp.js"></script> -->



</body>

</html>