<nav class="navbar background h-nav-resp">
  <ul class="nav-list v-class-resp">
    <div class="logo"><img
        src="http://www.iiti.ac.in/oldweb/images/newlogo.jpg"
        alt="logo"
      /></div>
    <li><a href="/">Home</a></li>
    <li><a href="#">Operations</a>
      <div class="baka">
        <ul>
          <li><a href="/security">Security Operations</a></li>
          <li><a href="/emergency">Emergency Response</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Policies and guidelines</a>
      <div class="baka">
        <ul>
          <li><a href="http://safety.iiti.ac.in/documents/Guidelines_Safety%20and%20Security.pdf"
          target="_blank"
              rel="nofollow"
              title="">Guidelines for Safety & Security Committee</a></li>
          <li><a href="http://safety.iiti.ac.in/documents/Security%20Policy%20IIT%20Indore%202021.pdf"
          target="_blank"
              rel="nofollow"
              title="">Security Policy</a></li>
          <li><a href="http://safety.iiti.ac.in/documents/Laboratory%20Safety%20Guidelines.pdf"
          target="_blank"
              rel="nofollow"
              title="">Laboratory Safety Guidelines</a>
          </li>
          <li><a href="http://safety.iiti.ac.in/documents/Security%20Instructions.pdf"
          target="_blank"
              rel="nofollow"
              title="">Security Instructions</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Information</a>
      <div class="baka">
        <ul>
          <li>
            <a href="#" id="_">Forms</a>
            <div class="kaka">
              <ul>
                <li><a
                    href="http://safety.iiti.ac.in/formats/lab_safety_declaration_format.docx">Lab Safety Declaration Form</a></li>
                <li><a
                    href="http://safety.iiti.ac.in/formats/Laboratory%20Safety%20Audit%20Form.pdf">Laboratory Safety Audit Form</a></li>
                <li><a
                    href="http://safety.iiti.ac.in/formats/Incident_Report_Form.pdf">Incident Report Form</a></li>
                <li><a
                    href="http://safety.iiti.ac.in/formats/Near_Miss_Incident_Report_Form.pdf">Near Miss Incident Report Form</a></li>

                <li>
                </li>
              </ul>
            </div>
          </li>
          
          <li><a
              href="http://safety.iiti.ac.in/documents/safety_briefing.pdf"
              target="_blank"
              rel="nofollow"
              title=""
            >Safety &amp; Security Orientation</a></li>
          <li><a href="/vehicle" id="_theft_report">Vehicle Stickers</a></li>
          <li><a href="/dosanddonts" id="_do_and_dont">Campus Do's and Don'ts</a></li>
          <li><a href="/Events" id="events">Events</a></li>
          <li><a href="/safetymaterial" id="Safety_Material">Safety Material</a></li>

        </ul>
      </div>
    </li>
    <li><a href="/alertfull">Alerts &amp; notices</a></li>
    <li><a href="#">Committees</a>
      <div class="baka">
        <ul>
          <li><a href="/committeedip" id="_institute_committee">Institute Committee</a></li>
          <li><a href="/committeedep" id="_departmental_committees">Departmental Safety
              Committees</a></li>
        </ul>
      </div>
    </li>
    <li><a href="/contact">Contact us</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>